.accountCont {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.accountBtn {
  width: 100%;
  height: 40px;
  & p {
    flex-grow: 1;
    text-align: center;
  }
}

.accountName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & img {
    width: 134px;
    height: 134px;
    border-radius: 50%;
  }
  & h3 {
    font-size: 18px;
    font-weight: 700;
  }
}
.generalCont {
  width: 100%;
}
.generalForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.generalBtns {
  display: flex;
  gap: 8px;
  justify-content: space-around;
}
.generalTypeSp {
  padding-top: 32px;
  font-weight: 400;
}
.generalToAccBtn {
  width: 100%;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 32px;
  & p {
    flex-grow: 1;
    text-align: center;
  }
}
.accountName .refreshBtn {
  font-size: 14px;
  font-weight: 400;
  padding: 0px 32px;
  height: 32px;
  display: flex;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.accountName img {
  object-fit: cover;
}
.accountName h3 {
  paddding-top: 8px;
}
