.accountBtn {
  width: 100%;
  height: 40px;
  & p {
    flex-grow: 1;
    text-align: center;
  }
}

.generalCont {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 85px;
}
.generalForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.generalBtns {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  padding-top: 53px;
  font-size: 14px;
}
.generalTypeSp {
  padding-top: 32px;
  font-weight: 400;
}
.generalToAccBtn {
  width: 100%;
  height: 40px;
  /* margin-top: 8px; */
  margin-bottom: 32px;
  & p {
    flex-grow: 1;
    text-align: center;
  }
}

.generalBtns .generalBtnBack {
  width: 145px;
  height: 36px;
  border: 0.5px solid #ed772f;
}
.generalBtns .generalBtnSave {
  width: 143px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.changePasswCont {
  padding-top: 8px;
}
.formContPassw form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 56px;
  padding-bottom: 78px;
}
.formContPassw h4 {
  font-weight: 400;
  color: #b7b7b9;
}
.restoreCont {
  display: flex;
  padding-top: 32px;
  justify-content: center;
  align-items: center;
  & h5 {
    font-size: 12px;
    font-weight: 300;
    color: #b7b7b9;
  }
}
